.question {
    height: 130px;
    justify-content: space-between;
    align-items: initial;
    cursor: default;

    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.question img {
    width: 30px;
    height: 20px;
    margin-top: 75px;

    cursor: pointer;
}

.answer {
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 80px;
    height: 37px;
    border-radius: 5px;
    border: none;

    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
}

.red {
    background-color: #FF3030;
}

.orange {
    background-color: #FF922E;
}

.green {
    background-color: #2FBE34;
}