.container {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    margin-bottom: 25px;
    display: flex;
    padding: 13px 13px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;

    font-family: 'Recursive', sans-serif;
}

.initial {
    height: 65px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

ion-icon {
    font-size: 30px;
    color: #333333;
}

.question {
    height: 150px;
    justify-content: space-between;
    align-items: initial;
    cursor: default;

    background-color: #FFFFD5;

    font-size: 18px;
    font-weight: 400;
    text-align: left;
    font-family: 'Recursive', sans-serif;
}

.question img {
    width: 30px;
    height: 20px;
    margin-top: 100px;

    cursor: pointer;
}

.answer {
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 80px;
    height: 37px;
    border-radius: 5px;
    border: none;

    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
}

.buttons .red {
    background-color: #FF3030;
}

.buttons .orange {
    background-color: #FF922E;
}

.buttons .green {
    background-color: #2FBE34;
}

.redText {
    height: 65px;
    justify-content: space-between;
    align-items: center;

    color: #FF3030;
    font-weight: 700;
    text-decoration: line-through;
}

.redText ion-icon {
    color: #FF3030;
}

.orangeText {
    height: 65px;
    justify-content: space-between;
    align-items: center;

    color: #FF922E;
    font-weight: 700;
    text-decoration: line-through;
}

.orangeText ion-icon {
    color: #FF922E;
}

.greenText {
    height: 65px;
    justify-content: space-between;
    align-items: center;

    color: #2FBE34;
    font-weight: 700;
    text-decoration: line-through;
}

.greenText ion-icon {
    color: #2FBE34;
}